* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

.margin-topbar{
	margin-top: 60px;
}

.top-menu {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f3f3f3;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 10001;

}

.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}

.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.padding-top {
	padding-top: 30px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.margin-right {
	margin-right: 30px;
}

.padding-none {
	padding: 0;
}

.bg-grey
{
	background-color: #f3f3f3;
}