{% extends "main.html" %}
{% block content %}

<div class="row">
	<div class="col-lg-3">
		{% include "categoryList.html" %}
	</div>
	<div class="col-lg-9">
		<div class="row padding-bottom padding-top">
			<div class="col-xs-8">
				<h4>All Items</h4>
			</div>
			
		</div>
		
		<div class="row">
			{% for item in items %}

				  <div class="col-xs-12 col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="{{item.image}}" alt="Image for {{item.name}}">
				      <div class="caption">
				        <h3>{{item.name}}</h3>
				        <p><a href="{{url_for('itemsInfo', item_name = item.name)}}" class="btn btn-primary" role="button">Details</a> </p>
				      </div>
				    </div>
				  </div>
				
			{% endfor %}
			</div>

	</div>
</div>

{% endblock %}